html{
    height: 100%;
}
body {
  padding-top: 70px;
  padding-bottom:50px;
  position: relative;
  min-height: 100%;
}
.align-center{
    text-align: center;
}
.margin-none{
    margin: 0;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.marginTop15{
    margin-top: 15px;
}
.login-wrap{
    width: 400px;
    margin: 0 auto;
    background: #DCDDD8;
    border-radius: 10px;
    padding: 0 20px 20px;
}

.navbar-inverse{
    background-color: #4D6076;
    background-image:none;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
    color: #fff;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover{
    color: #000;
    text-shadow:none;
}
footer{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    background:#B3B1B2;
    padding: 10px;
}
.private-checked{
  display: none;
}
.navbar-fixed-top{
  z-index: 2;
}
.header-message-wrap{
      position: fixed;
    left: 0;
    right: 0;
    top: 20px;
    height: 30px;
    line-height: 30px;
    z-index: 1;
    padding: 0 10px;
    border-radius: 0;
    text-align: center;
}
.table thead th{
  background: #e3f0f4;
}
.toggle-details .details span{
  padding: 0 8px;
  color: #ac2925;
  font-size: 12px;
  border-right: 1px solid #666;
}
.toggle-details .details span:first-child{
  padding-left:0;
}
.toggle-details .details span:last-child{
  border:0;
}
.toggle-details .details span i{
  font-style: normal;
  padding: 0 0 0 4px;
}

